body {
	text-align: left;
}

.title-main {
	margin-bottom:6%;
	margin-top:10%;
}

.item-icon {
	width: 40px;
    height: 40px;
    margin: 2px;
}

.sell-items{
    margin-bottom: 4%;
}

.sell-item {
    width: 45px;
    height: 45px;
    margin: 2px;
    float: left;
    background-color:#FBFAEF;
    border-color: #F2EFE2;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
}

.sell-item:hover {
	background-color: #D9D7C5
}

.sell-item-active {
	background-color: #D9D7C5;
}

.buy-items {
    margin-bottom: 1%;	
}

.buy-item {
    width: 45px;
    height: 45px;
    margin: 2px;
    float: left;
    text-align: center;
    background-color:#FBFAEF;
    border-color: #F2EFE2;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
}

.buy-item:hover {
	background-color: #D9D7C5;
}

.buy-item-active {
	background-color: #D9D7C5;
}

.container {
	max-width: 62%;
}

#button {
    width: 200px;
    margin-left: 12px;
	margin-top: 40px;
	margin-bottom: 30px;
}

#chart {
	max-width:100%;
	margin-bottom: 6%;
}

